<div class="carousel-container">
  <div class="indicators">
    @for (item of carouselArray; track $index) {
    <div class="indicator" [ngClass]="currentItem($index)" (click)="toItem($index)"></div>
    }
  </div>

  <button class="left button" (click)="prevItem()">
    <img src="./icons/left-chevron.svg" alt="" />
  </button>

  <div class="carousel-content">
    <!-- <div class="startClonedCarouselItem"></div> -->

    @for (item of carouselArray; track $index) {
    <a
      [routerLink]="[item.link, item.id]"
      class="carousel-item"
      [ngClass]="getClassByIndex($index)"
    >
      <img [src]="item.banner" [alt]="item.original" />
    </a>
    }

    <!-- <div class="endClonedCarouselItem"></div> -->
  </div>

  <button class="right button" (click)="nextItem()">
    <img src="./icons/right-chevron.svg" alt="" />
  </button>
</div>
