.carousel-container {
  position: relative;

  width: 100%;
  height: 376px;

  overflow: hidden;
}

.indicators {
  position: absolute;
  z-index: 3;

  width: 100px;
  height: 20px;

  border-radius: 10px;

  background-color: red;
}

.navigation {
  position: absolute;
  top: 0;
  z-index: 2;

  width: calc((100% - 670px) / 2);
  height: 100%;

  /* border: 1px solid orange; */
  border: none;

  font-family: 'Inter', sans-serif;
  font-size: 96px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  cursor: pointer;
}

.prev-button {
  left: 0;

  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

  padding-left: 96px;
}

.next-button {
  right: 0;

  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));

  padding-right: 96px;
}

.carousel-content {
  width: 100%;
  height: 100%;

  white-space: nowrap;
  overflow: hidden;
}

.carousel-item {
  position: absolute;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 670px;
  height: 100%;

  /* border: 1px solid red; */
  border-radius: 10px;

  overflow: hidden;

  transition: all 500ms ease-in-out, z-index 500ms step-start;
  pointer-events: none;
}

.carousel-item img {
  max-width: 100%;

  object-fit: contain;
}

.prev,
.next {
  z-index: 0;

  opacity: 0.7;
}

.prev {
  left: 0;

  transform: perspective(3px) translate3d(-17%, 0, -1px);
  pointer-events: auto;
}

.curr {
  z-index: 1;
  left: 50%;

  box-shadow: 0 0 50px rgb(0, 0, 0);

  transform: perspective(none) translate3d(-50%, 0, 0);
  pointer-events: auto;
}

.next {
  right: 0;

  transform: perspective(3px) translate3d(17%, 0, -1px);
  pointer-events: auto;
}

/* TOOD: Add transform for smooth appearance */
.hidden {
  display: none;

  opacity: 0;

  pointer-events: auto;
}
