/* #region Indicators styles */

.indicators-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 3;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 8px 10px;

  height: 28px;

  border-radius: 16px;

  background-color: rgba(0, 0, 0, 0.5);

  translate: -50% -45%;
}

.dot {
  aspect-ratio: 1 / 1;
  height: 100%;
  margin: 0;
  padding: 0;

  border-radius: 28px;

  background-color: rgba(255, 255, 255, 0.5);

  transition: all 400ms ease-in-out, background-color 150ms ease-in-out;

  cursor: pointer;
}

.dot:hover:not(.dot.active) {
  background-color: rgba(255, 255, 255, 0.7);
}

.dot.active {
  aspect-ratio: 2 / 1;

  background-color: rgba(255, 255, 255, 1);

  cursor: default;
}

/* #endregion */

/* #region Scroll buttons styles */

.button {
  position: absolute;
  top: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 12px;

  width: calc((100% - 670px) / 2);
  height: 100%;

  /* border: 1px solid orange; */
  border: none;

  cursor: pointer;
}

.button img {
  width: 32px;
  height: auto;

  /* border: 1px solid red; */

  opacity: 0.5;

  transition: all 100ms ease;
}

.button:hover img,
.button:focus img {
  opacity: 0.8;

  transform: scaleY(1.2);
}

.button:focus {
  outline: none;
}

.button.left {
  left: 0;

  justify-content: start;

  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.button.right {
  right: 0;

  justify-content: end;

  background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background: linear-gradient(270deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

/* #endregion */

/* #region Carousel elements styles */

.carousel-container {
  position: relative;

  width: 100%;
  height: 426px;
  padding: 25px 0;

  /* border: 1px solid blue; */

  overflow: hidden;
}

.carousel-content {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  /* border: 1px solid yellowgreen; */

  white-space: nowrap;
}

.carousel-item {
  position: absolute;
  left: 50%;
  z-index: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 670px;
  height: auto;

  /* border: 1px solid red; */
  border-radius: 10px;

  overflow: hidden;

  transition: all 400ms ease-in-out;
  pointer-events: none;
}

.carousel-item img {
  max-width: 100%;

  object-fit: contain;
}

.carousel-item.prev,
.carousel-item.next {
  opacity: 0.7;
}

.carousel-item.prev {
  left: 0;

  transform: perspective(3px) translate3d(-17%, 0, -1px);
  pointer-events: auto;
}

.carousel-item.next {
  right: 0;

  transform: perspective(3px) translate3d(17%, 0, -1px);
  pointer-events: auto;
}

.carousel-item.curr {
  z-index: 1;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);

  transform: perspective(0) translate3d(-50%, 0, 0);
  pointer-events: auto;
}

.carousel-item.curr:hover,
.carousel-item.curr:focus {
  transition: all 200ms ease-in-out;
  transform: scale(1.01) translate3d(calc(-50% / 1.01), 0, 0);
}

.carousel-item.curr:focus {
  outline: none;
}

.carousel-item.hidden {
  left: 50%;

  visibility: hidden;
  opacity: 0;

  transform: perspective(1px) translate3d(-100%, 0, -1px);
  pointer-events: auto;
}

/* #endregion */
