
.content-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 262px;
    min-width: 262px;
    height: 100%;
}

.content-sidebar__box {
    margin-bottom: 120px;
}

.content-sidebar__box__title {
    margin: 0 0 32px;

    line-height: 19px;

    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.content-sidebar__box__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-sidebar__box__item {
    display: flex;
    flex-direction: column;
}

.content-sidebar__box__item h5,
.content-sidebar__box__item p {
    margin: 0;

    line-height: 17px;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-style: normal;
}

.content-sidebar__box__item h5 {
    margin-bottom: 5px;
    font-weight: 700;
}

.content-sidebar__box__item p {
    font-weight: 400;
}

.content-sidebar__footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-sidebar__footer p,
.content-sidebar__footer a {
    line-height: 17px;

    color: rgb(170, 170, 170);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.content-sidebar__footer p {
    margin: 0;
}

.content-sidebar__footer a {
    text-decoration: none;
}

.content-sidebar__footer a:hover {
    color: rgb(73, 73, 255);
}

@media (max-width: 768px) {
    .content-sidebar {
        width: 100%;
    }
}